header.contacthead
  .overlay
  .container
    .row
      .col-md-12
        h1
          span Contact
        hr
.container-even
  .container
    .row
      .col-md-12.nested-title
        p Email
      .col-md-12
        h5 Note:
        ul
          li
            | Due to very busy nature of college students, please provide us with up to 48 hours for a response.
          li Please don't email us asking for sponsorships as we generally don't do those.
          li We do however accept interview requests.
        p
          | General mailbox: 
          a(href='mailto:asucis2013@gmail.com') asucis2013@gmail.com
        p
          | High priority mailbox: 
          a(href='mailto:international.students@asu.edu') international.students@asu.edu
          |  - urgent matter only please, don't abuse this inbox.
        p Targeted mailbox:
        ul
          li
            | President - 
            a(href='mailto:zwang325@asu.edu') Zwang325@asu.edu
          li
            | Vice-President - 
            a(href='mailto:Che-Jui.Huang@asu.edu') Che-Jui.Huang@asu.edu
          li
            | Advisor - 
            a(href='mailto:xin.zhou.5@asu.edu') Xin.Zhou.5@asu.edu
        p No-email: Use the contact form below
.container-odd
  .container
    .row
      .col-md-12.nested-title
        p Visit Us
      .col-md-5
        p
          | Our office is located on the second floor of the Student Pavilion at the ASU Tempe Campus. Feel free to drop in one weekdays from 9am - 5pm to have a conversation with any one of our members.
        p
          | Address: 
          br
          |                         Rm 225J, 
          br
          |                         400 E Orange St, 
          br
          |                         Tempe, Arizona 85281.
      .col-md-7
        center
          .embed-responsive.embed-responsive-16by9
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d832.5439135628465!2d-111.93426267074274!3d33.41866456817683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b08dc856c9005%3A0x8664357c3e7779dc!2sUndergraduate+Academic+Services+Building%2C+400+E+Orange+St%2C+Tempe%2C+AZ+85281!5e0!3m2!1sen!2sus!4v1513391293670', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
.container-even
  .container
    .row
      .col-md-12.nested-title
        p Contact Form
      .col-md-12
        .container-contact
          .embed-responsives
            iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSfXIDny5TwquXSLqBADvbTNFKo_8_YRagWvCOhDsWesedguUQ/viewform?embedded=true', width='100%', height='1000px', frameborder='0', marginheight='0', marginwidth='0') Loading...
