header.eventshead
  .overlay
  .container
    .row
      .col-md-12
        h1
          span Events
        hr
section#in
  .container-even
    .container
      .row
        .col-md-12.nested-title
          p international night
          hr
        .col-md-12.event-text
          p
            | {{ site.data.events.in.long-description }}
        .col-md-4.numbers-text
          h2 Our flagship event by the numbers.
        .col-md-8
          .row
            .col-md-4.in-numbers
              h1 3500+
              p people reached during international night 2017
            .col-md-4.in-numbers
              h1 39
              p tables set-up for participants to explore
            .col-md-4.in-numbers
              h1 18
              p different food options served during international night 2017
            .col-md-4.in-numbers
              h1 10
              p different countries viewed our livestream
            .col-md-4.in-numbers
              h1 6
              p pitchfork awards won by the event
            .col-md-4.in-numbers
              h1 1
              p biggest event on campus celebrating cultural diversity
        .col-md-12.event-carousel
          #in-carousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#in-carousel', data-slide-to='0')
              li(data-target='#in-carousel', data-slide-to='1')
              li(data-target='#in-carousel', data-slide-to='2')
              li(data-target='#in-carousel', data-slide-to='3')
              li(data-target='#in-carousel', data-slide-to='4')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='assets/images/cis-international-night-0005.JPG', alt='First slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-international-night-0002.JPG', alt='Second slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-international-night-0003.JPG', alt='Third slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-international-night-0001.JPG', alt='Fourth slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-international-night-0006.JPG', alt='Fith slide')
            a.carousel-control-prev(href='#in-carousel', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#in-carousel', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
section#gbn
  .container-odd
    .container
      .row
        .col-md-12.nested-title
          p glo-ball night
          hr
        .col-md-6.event-carousel.event-text
          #gbn-carousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#gbn-carousel', data-slide-to='0')
              li(data-target='#gbn-carousel', data-slide-to='1')
              li(data-target='#gbn-carousel', data-slide-to='2')
              li(data-target='#gbn-carousel', data-slide-to='3')
              li(data-target='#gbn-carousel', data-slide-to='4')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='assets/images/cis-glo-ball-night-0001.JPG', alt='First slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-glo-ball-night-0002.jpg', alt='Second slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-glo-ball-night-0003.JPG', alt='Third slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-glo-ball-night-0004.jpg', alt='Fourth slide')
              .carousel-item
                img.d-block.w-100(src='assets/images/cis-glo-ball-night-0005.JPG', alt='Fifth slide')
            a.carousel-control-prev(href='#gbn-carousel', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#gbn-carousel', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
        .col-md-6.event-text
          p
            | {{ site.data.events.gbn.long-description }}
section#cc
  .container-even
    .container
      .row
        .col-md-12.nested-title
          p career conference
          hr
        .col-md-3.cc-event.event-text
          img.img-fluid(src='assets/images/cc.jpg')
        .col-md-9.event-text
          p
            | {{ site.data.events.cc.long-description }}
section#wc
  .container-odd
    .container
      .row
        .col-md-12.nested-title
          p welcome carnival
          hr
        .col-md-6
          img.img-fluid.stacked-img(src='assets/images/cis-wc-0001.JPG')
        .col-md-6
          img.img-fluid.stacked-img(src='assets/images/cis-wc-0002.JPG')
        .col-md-12.event-text
          p
            | {{ site.data.events.wc.long-description }}
