footer
  .container
    .row
      .col-md-12
        .footer-social
          a(target='_blank', href='https://www.facebook.com/ASUCIS/')
            i.fab.fa-facebook.fa-2x.white-text.mr-md-4  
          a(target='_blank', href='https://www.instagram.com/asucis/')
            i.fab.fa-instagram.fa-2x.white-text.mr-md-4  
          a(target='_blank', href='https://twitter.com/asu_cis')
            i.fab.fa-twitter.fa-2x.white-text.mr-md-4  
          a(target='_blank', href='https://www.snapchat.com/add/asucis')
            i.fab.fa-snapchat.fa-2x.white-text.mr-md-4  
          a(target='_blank', href='scripts/weixin.html')
            i.fab.fa-weixin.fa-2x.white-text.mr-md-4  
  .footer-copyright
    .copyright-text
      | © 2018 ASU CIS. design by 
      a(href='https://www.dickwyn.xyz/')  dickwyn