footer
  .container
    .row
      .col-md-12
        .footer-social
          | {% for sm in site.data.social-media %}
          a(target='_blank', href='{{ sm.url }}')
              i(class='{{ sm.class }}')
          | {% endfor %}
  .footer-copyright
    .copyright-text
      | © {{ site.year }} ASU CIS. design by 
      a(href='https://www.dickwyn.xyz/') 
        |   dickwyn