nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand.logo-text(href='index.html')
      img.align-top.header-logo(src='/assets/images/logo-naked.png', width='30', height='30', alt='')
      |  ASU
      b(style='color: #00A3E0') CIS
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='about.html')
            p what we do
        li.nav-item
          a.nav-link(href='team.html')
            p our team
        li.nav-item
          a.nav-link(href='events.html')
            p our events
        li.nav-item
          a.nav-link(href='http://blog.asucis.com/')
            p our blog
        li.nav-item
          a.nav-link(href='contact.html')
            p contact