.hero-bg
.banner
  .container
    .row
      .col-md-8
        h2 {{ site.data.promotion.anchor.name }}
      .col-md-4
        ul.list-inline.banner-social-buttons
          li
            a(href='{{ site.data.promotion.anchor.link }}')
              button.btn.btn-outline-light(type='button')
                | {{ site.data.promotion.anchor.action }} 
                i.fas.fa-chevron-circle-right(data-fa-transform='shrink-2')
.container-even
  .container
    .row
      .col-md-12.mission
        h2 Our Mission
        center
          img.img-fluid.logo-hero(src='{{ site.logo }}')
        p
          | {{ site.mission }}
.container-odd
  .container
    .row
      .col-md-3.welcome
        p
          | {{ site.description }}
        a(href='about.html')
          button.btn.btn-outline-info(type='button') Learn more
      .col-md-9
        .container
          .row
            .col-md-4.hero-image
              img.img-fluid(src='assets/images/cis-retreat-0001.jpg')
            .col-md-8.hero-image
              img.img-fluid(src='assets/images/cis-tabling-0001.jpg')
            .col-md-8.hero-image
              img.img-fluid(src='assets/images/cis-tabling-0002.jpg')
            .col-md-4.hero-image
              img.img-fluid(src='assets/images/cis-halloween-party-0001.JPG')
.container-even
  .container
    .row
      .col-md-12.title-block
        h2 Our Signature Events
      .col-md-4.logo-block
        img.cis-passport(src='assets/images/passport-front.PNG')
      .col-md-8
        .row
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title {{ site.data.events.in.name }}
                p.card-text
                  | {{ site.data.events.in.eli7 }}
                a.btn.btn-outline-secondary(href='{{ site.data.events.in.link }}', target='_blank') 
                  | {{ site.data.events.in.date }}
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title {{ site.data.events.cc.name }}
                p.card-text
                  | {{ site.data.events.cc.eli7 }}
                a.btn.btn-outline-secondary(href='{{ site.data.events.cc.link }}', target='_blank') 
                  | {{ site.data.events.cc.date }}
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title {{ site.data.events.gbn.name }}
                p.card-text
                  | {{ site.data.events.cc.eli7 }}
                a.btn.btn-outline-secondary(href='{{ site.data.events.gbn.link }}', target='_blank')
                  | {{ site.data.events.gbn.date }}
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title {{ site.data.events.wc.name }}
                p.card-text 
                  | {{ site.data.events.cc.eli7 }}
                a.btn.btn-outline-secondary(href='{{ site.data.events.wc.link }}', target='_blank') 
                  | {{ site.data.events.wc.date }}
.container-odd
  .container
    .row
      .col-md-12.text-center
        h3 Want to become a member?
        h6 Join CIS to take you to the next level
        br
        p {{ site.data.promotion.recruitment.description }}