.hero-bg
.banner
  .container
    .row
      .col-md-8
        h2 Summer Leadership Volunteer
      .col-md-4
        ul.list-inline.banner-social-buttons
          li
            a(href='http://on.asucis.com/sum18volunteer')
              button.btn.btn-outline-light(type='button')
                | Sign Up Now 
                i.fas.fa-chevron-circle-right(data-fa-transform='shrink-2')
.container-even
  .container
    .row
      .col-md-12.title-block.mission
        h2 Our Mission
        center
          img.img-fluid.logo-hero(src='assets/images/logo.png')
        p
          | CIS is a student led organization that acts as a bridge to reflect the needs of international students to university administration. We aim to enhance international student experience, promote cultural diversity and inclusivity in ASU through events and service.
.container-odd
  .container
    .row
      .col-md-3.welcome
        p
          | Coalition of International Students is an organization dedicated towards helping international students on campus.
        a(href='about.html')
          button.btn.btn-outline-info(type='button') Learn more
      .col-md-9
        .container
          .row
            .col-md-4.hero-image
              img.img-fluid(src='assets/images/cis-retreat-0001.jpg')
            .col-md-8.hero-image
              img.img-fluid(src='assets/images/cis-tabling-0001.jpg')
            .col-md-8.hero-image
              img.img-fluid(src='assets/images/cis-tabling-0002.jpg')
            .col-md-4.hero-image
              img.img-fluid(src='assets/images/cis-halloween-party-0001.JPG')
.container-even
  .container
    .row
      .col-md-12.title-block
        h2 Our Signature Events
      .col-md-4.logo-block
        img.cis-passport(src='assets/images/passport-front.PNG')
      .col-md-8
        .row
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title International Night
                p.card-text
                  | Our flagship event of the Fall semester to highlight and celebrate international students on campus
                a.btn.btn-outline-secondary(href='https://www.facebook.com/events/1806653069362836/', target='_blank') 17 November 2017
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title Career Conference
                p.card-text
                  | Helping international students create a pathway for their career and future in a one day conference
                a.btn.btn-outline-secondary(href='https://www.facebook.com/events/647621718741871/', target='_blank') 9 February 2018
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title Glo-Ball Night
                p.card-text
                  | End of semester celebration
                  br
                  br
                  br
                a.btn.btn-outline-secondary(href='https://www.facebook.com/events/143954559595697/', target='_blank') 12 April 2018
          .col-sm-6.event-block
            .card
              .card-body
                h4.card-title Welcome Carnival
                p.card-text Introducing new international Sun Devils what it is like to be an ASU student.
                a.btn.btn-outline-secondary(href='https://www.facebook.com/events/132964070715620/', target='_blank') 5 January 2018
.container-odd
  .container
    .row
      .col-md-12.text-center
        h3 Want to become a member?
        h6 Join CIS to take you to the next level
        br
        p Applications open the first week of every semester
