header.contacthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/sun-devil-map.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.container-contact {
    height: 1000px;
}