header.eventshead {
    position: relative;
    background-color: #343a40;
    background: url("../images/cis-international-night-0010.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}