header.eventshead {
    position: relative;
    background-color: #343a40;
    background: url("../images/cis-international-night-0010.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.numbers-text h2 {
    padding: 0.8em;
    color: #111;
    font-weight: 700;
    font-size: 45px;
}

.in-numbers {
    padding: 0em 1.3em;
}

.in-numbers p {
    color: #2196F3;
    font-weight: 400;
    letter-spacing: 1.8px;
    font-size: 18px;
}

.in-numbers h1 {
    color: #1976D2;
    font-weight: 700;
    font-size: 45px;
}

.cc-event img {
    padding: 0em 0em 0em;
    width: 100%;
}
