footer {
    background-color: #2196F3;
}

.footer-text {
    padding: 3em 0em 1.5em 0em;
    color: #BBDEFB;
}

.footer-text a:link {
    color: #BBDEFB;
    text-decoration: none;
}

.footer-text a:visited {
    color: #BBDEFB;
    text-decoration: none;
}

.footer-text a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-text a:active {
    color: #fff;
    text-decoration: none;
}

.footer-social {
    padding: 2em;
    text-align: center;
}

.footer-social a {
    padding: 0.2em;
}

.footer-social a:link {
    color: #BBDEFB;
    text-decoration: none;
}

.footer-social a:visited {
    color: #BBDEFB;
    text-decoration: none;
}

.footer-social a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-social a:active {
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
    padding: 0.5em;
    text-align: center;
    background-color: #1976D2;
}

.copyright-text {
    font-size: 0.8em;
    padding: 0em !important;
    font-weight: 200;
    color: #BBDEFB;
}

.copyright-text a:link {
    color: #BBDEFB;
    text-decoration: none;
}

.copyright-text a:visited {
    color: #BBDEFB;
    text-decoration: none;
}

.copyright-text a:hover {
    color: #fff;
    text-decoration: none;
}

.copyright-text a:active {
    color: #fff;
    text-decoration: none;
}