.hero-bg {
    opacity: 0.75;
    position: relative;
    background-color: $secondary-text;
    background: url("../images/cis-international-night-0011.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.banner {
    padding: 20px;
    color: $text-icons;
    background: url(../images/material.png) no-repeat center center;
    background-size: cover;
}

.banner .col-md-8 {
    padding: 0.5em 0em 0.5em;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 2em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

.logo-hero {
    margin: 1em;
    width: 20%;
}

hr {
    max-width: 100px;
    margin: auto;
    border-width: 0.25em;
    border-color: rgba(34, 34, 34, 0.1);
}

.mission{
    padding-bottom: 2em;
}

.mission h2 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2em;
    color: $primary-text;
    text-transform: uppercase;
}

.mission p {
    font-size: 1.2em;
    font-weight: 200;
    color: $primary-text;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
}

.welcome p {
    color: $primary-text;
    font-weight: 200;
    font-size: 1.1em;
}

.welcome h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
}

.hero-image {
    padding: 1em 1em 1em;
}

.stacked-img {
    padding: 0em 0em 1em;
}

.portrait {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .portrait {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
    .executive-social {
        text-align: center;
    }
}

.cis-passport {
    width: 100%;
    padding-bottom: 1em;
}

.event-block {
    padding-bottom: 1em;
    padding-right: 0.5em;
}