.social a:link {
    color: black;
    text-decoration: none;
}

.social a:visited {
    color: black;
    text-decoration: none;
}

.social a:hover {
    color: white;
    text-decoration: none;
}

.social a:active {
    color: gray;
    text-decoration: none;
}


.signature-event {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.signature-section {
    background-color: red;
}

.container-signature {
    background-color: ghostwhite;
    padding: 2em;
}

.social-bar {
    background-color: #BBDEFB
}

.title-page h2 {
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 50px;
}

.logo-center {
    width: 20%;
}

.container-about {
    padding: 2em 0em 2em 0em;
}







.event-title {
    padding: 0em;
}

.event-title p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 23px;
}


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */



header.surveyhead {
    position: relative;
    background-color: #343a40;
    background: url("../images/low-poly.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.alert-padding {
    margin: 0em;
}

.faq {
    max-width: 100%;
    border-width: 0.1em;
    border-color: #BDBDBD;
    padding: 0em 0em 1em;
}

.faq-text h5 {
    font-weight: 400;
}

.faq-text p {
    margin-left: 40px;
    font-weight: 100;
}

