header.opthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/grad.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.opt-form {
    min-height: 600px;
}

.form-title {
    font-weight: 400;
    font-size: 22px;
    margin: 0.8em 0em 0em;
}

.opt-card {
    padding: 0em 1em 1em;
}

#contents {
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
}

#tabs {
    height: 20em;
    overflow: hidden;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

#accountForm {
    margin-top: 15px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    height: 500px;
    ;
}

#slider {
    color: blue;
    background-color: skyblue;
}

.slider {
    padding: 1em 5.5em 1em 5.5em;
}

.grad-date {
    font-size: 15px;
    text-align: center;
    height: 20px;
    width: 100px;
}

.left-box {
    font-size: 15px;
    padding: 2em 0em 0em;
    text-align: center;
    text-transform: uppercase;
}

.left-box p {
    padding: 0em;
    text-align: center;
    text-transform: capitalize;
    font-weight: 100;
}

.right-box {
    font-size: 15px;
    padding: 2em 0em 0em;
    text-align: center;
    text-transform: uppercase;
}

.right-box p {
    padding: 0em;
    text-align: center;
    text-transform: capitalize;
    font-weight: 100;
}

.opt-credits {
    padding: 1em 0em 0em;
    text-align: center;
    font-weight: 100;
}

.opt-credits i.fa-exclamation-circle {
    color: red;
    background-color: red;
}

.fine-print {
    font-size: 10px;
    margin: 0em;
    color: #BDBDBD;
}

.end-button {
    margin: 1em 0em 0em;
    float: right
}