header.executivehead {
    position: relative;
    background-color: #343a40;
    background: url("../images/cis-glo-ball-night-0008.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.memberhead {
    position: relative;
    background-color: #343a40;
    background: url("../images/cis-glo-ball-night-0008.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.executive-social a:link {
    color: gray;
    text-decoration: none;
}

.executive-social a:visited {
    color: gray;
    text-decoration: none;
}

.executive-social a:hover {
    color: gray;
    text-decoration: none;
}

.executive-social a:active {
    color: gray;
    text-decoration: none;
}

.executive-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 30px;
}

.executive-subtitle-muted {
    text-transform: lowercase;
    color: gray;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 14px;
}

.picture-box {
    padding: 0.35em;
    color: #111;
    font-weight: 700;
    font-size: 45px;
}

// remove this duplicate class !!!!
.name-box h5 {
    text-transform: uppercase;
    padding-top: 0.38em;
    color: #111;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1.5px;
}