header.executivehead {
    position: relative;
    background-color: #343a40;
    background: url("../images/cis-glo-ball-night-0008.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.memberhead {
    position: relative;
    background-color: #343a40;
    background: url("../images/cis-glo-ball-night-0008.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}